<div class="column-content" dndDropzone (dndDrop)="onDrop($event, data!.draggableItem)">
    <div class="card" *ngFor="let item of data?.draggableItem" [dndDraggable]="item"
        [dndEffectAllowed]="item.effectAllowed" (dndCanceled)="onDragged(item, data!.draggableItem, 'none')"
        (dndMoved)="onDragged(item, data!.draggableItem, 'move')">
        <div class="card-tag-wrapper">
            <h6 class="card-tag">Angular</h6>
            <h6 class="card-tag">Angular</h6>
        </div>
        <div class="card-information">
            <div class="card-title-wrapper">
                <h5>{{item.content.name}}</h5>
                <app-card-btn />
            </div>
            <p>Create website for your company</p>
            <p>3 days ago</p>
        </div>
    </div>
    <div class="card placeholder dndPlaceholder" dndPlaceholderRef>
    </div>
</div>