<div class="column-content" [dndDisableIf]="toDoService.activeDropZone === 'Column'" dndDropzone (dndDrop)="toDoService.onDrop($event, data!.draggableItem)">
    <div class="card" *ngFor="let item of data?.draggableItem" [dndDraggable]="item"
        [dndEffectAllowed]="'move'" (dndCanceled)="toDoService.onDragged(item, data!.draggableItem, 'none')"  (dndEnd)="toDoService.onDragEnd($event)"
        (dndStart)="toDoService.onDragStart($event, 'Task')"
        (dndMoved)="toDoService.onDragged(item, data!.draggableItem, 'move')">
        <div class="card-tag-wrapper">
            <h6 class="card-tag" *ngFor="let tag of item.content.tags">{{tag}}</h6>
        </div>
        <div class="card-information">
            <div class="card-title-wrapper">
                <h5>{{item.content.name}}</h5>
                <app-card-btn [cardTaskData]="item" (operation)="handleOperation($event)" />
            </div>
            <p>{{item.content.description}}</p>
            <h6 class="card-dates pt-3">{{item.content.createdOn | timestamp}} > {{item.content.dueTo | timestamp}}</h6>
        </div>
    </div>
    <div class="card placeholder dndPlaceholder" dndPlaceholderRef>
    </div>
</div>